
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>@ViewData["Title"] - wtujvk.LearningMeCSharp.CoreMvc</title>
    <link rel="Bookmark" href="favicon.ico">
    <link rel="Shortcut Icon" href="favicon.ico" />
    <!--[if lt IE 9]>
        <script type="text/javascript" src="/lib/html5shiv.js"></script>
        <script type="text/javascript" src="/lib/respond.min.js"></script>
    <![endif]-->
   <link href="/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link href="~/lib/h-ui/css/H-ui.min.css" rel="stylesheet" />
    <link href="/lib/h-ui.admin/css/H-ui.admin.css" rel="stylesheet" />
    <link href="~/lib/Hui-iconfont/1.0.8/iconfont.min.css" rel="stylesheet" />
    <link href="~/lib/h-ui.admin/skin/default/skin.css" rel="stylesheet" />
    <link href="~/lib/h-ui.admin/css/style.css" rel="stylesheet" />
    <meta name="keywords" content="H-ui.admin v3.0,H-ui网站后台模版,后台模版下载,后台管理系统模版,HTML后台模版下载">
    <meta name="description" content="H-ui.admin v3.0，是一款由国人开发的轻量级扁平化网站后台模板，完全免费开源的网站后台管理系统模版，适合中小型CMS后台系统。">
    <!--[if IE 6]>
        <script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
        <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->

    @RenderSection("Styles", required: false)
</head>
<body>
    <div class="container">
        <div class="navbar-wrapper">
            @Html.Partial("_Header")
        </div>
        <div>
            @Html.Partial("_Menus")
            <div class="dislpayArrow hidden-xs">
                <a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a>
            </div>

        </div>
        <section class="Hui-article-box">
            <nav class="breadcrumb"><i class="Hui-iconfont"></i> <a href="/" class="maincolor">首页</a> 
                <span class="c-999 en">&gt;</span>
                <span class="c-666">我的桌面</span> 
                <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
            <div class="Hui-article" style="padding-left: 5px">
                @RenderBody()
            </div>
        </section>
            <div class="container body-content">
             
                <footer>
                    <p>&copy; 2018 - wtujvk.LearningMeCSharp.CoreMvc</p>
                </footer>
            </div>
    </div>
    <!--_footer 作为公共模版分离出去-->
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/layer-v3.1.0/layer/layer.js"></script>
    <script src="~/lib/h-ui/js/H-ui.all.min.js"></script>
@*<script type="text/javascript" src="static/h-ui/js/H-ui.js"></script>
    <script type="text/javascript" src="static/h-ui.admin/js/H-ui.admin.page.js"></script>*@
  
    <!--/_footer /作为公共模版分离出去-->
    <!--请在下方写此页面业务相关的脚本-->
    <script type="text/javascript">

    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
